#create-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 25px;
}

#create-container div div div div a,  #create-container div div div div span{
    line-height: 35px !important;
}

#create-title-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#create-title-nav #create-title-text {
    color: #555555
}