.my-divider {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.my-msg {
    text-align: center;
}

.my-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}