#userCard{
    width:15%;
    height:15%;
    padding:0px;
    position:relative;
    margin:20px;
    top:0px;
    right:0px;
    background:#fff;
    display:flex;
    transition: .6s ease-out;
    box-shadow:  0 10px 10px rbga(0,0,0),0.5;
    
}

.profile-viewBtn {
    display:flex;
    position:relative;
}

.profile-name {
    font-size: 50px;
}

.profile-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
}

.profile-header > h5 {
    flex-grow: 1;
}

.profile-divider {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.profile-notFound, .profile-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}