#userCard{
    width:15%;
    height:15%;
    padding:0px;
    position:relative;
    margin:20px;
    top:0px;
    right:0px;
    background:#fff;
    display:flex;
    transition: .6s ease-out;
    box-shadow:  0 10px 10px rbga(0,0,0),0.5;
    
}

#viewUpload{
    display:flex;
    position:relative;
    top:35px;
    right:-320px;
}

#viewBookmark{
    display:flex;
    position:relative;
    top:35px;
    right:-350px;
}

#username{
    position:relative;
    font-size:75px;
    top:-150px;
    right:-380px;
}