#upload-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 25px;
}

#upload-container div div div div a,  #upload-container div div div div span{
    line-height: 35px !important;
}

#upload-title-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#upload-title-nav #upload-title-text {
    color: #555555
}

.progress-bar {
    height: 15px;
}

#upload-progress-msg {
    text-align: center;
}