#view-header {
	display: flex;
	flex-direction: row;
}

.view-section-line {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    margin-top: 10px;
    margin-bottom: 10px;
}

#view-header #view-description {
	flex-grow: 1;
}

#view-header #view-feedback {
	display: flex;
	width: 15%;
	align-self: center;
	justify-content: space-around;
}

#view-footer {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}

#view-footer #view-comments {
	flex-grow: 1;
	padding-top: 1rem;
}

#view-similars {
	margin-left: 10px;
}

#view-author {
	padding: 0rem;
	font-size: 20px;
}

#view-desc-comment {
	flex-grow: 1;
}