#view-header {
	display: flex;
	flex-direction: row;
}

.view-section-line {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    margin-top: 10px;
    margin-bottom: 10px;
}

#view-header #view-description {
	flex-grow: 1;
}

#view-header #view-feedback {
	align-self: center;

	display: flex;
}

#view-footer {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}

#view-footer #view-comments {
	flex-grow: 1;
}

#view-feedback > #bookmarkbtn {
	margin-right: 30px;
}

#view-similars {
	margin-left: 10px;
}
