#view-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#view-header #view-description {
    flex-grow: 1.0;
}

#view-header #view-feedback {
    align-self: center;

    display: flex;
}

/* #view-header #view-feedback button {
    margin-right: 10px;
} */

#view-footer {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 50px;
}

#view-footer #view-comments {
    flex-grow: 1.0;
}

#view-feedback > #bookmarkbtn {
    margin-right: 30px;
}

