.bookmarkbtn {
	border-width: 0px;
	padding: 0;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.bookmarkbtn:focus {
	outline: 0;
}

.bookmarkbtn-icon {
	width: 24px;
	height: 24px;
	margin-top: 4px;
	background-color: #555555;
	mask: url(https://d2conugba1evp1.cloudfront.net/icons/icon-bookmark.svg) no-repeat center / contain;
	-webkit-mask: url(https://d2conugba1evp1.cloudfront.net/icons/icon-bookmark.svg) no-repeat center / contain;
}

.bookmarkbtn-icon:hover {
	background-color: #ccaa44;
}

.bookmarkbtn-icon-toggled {
	width: 24px;
	height: 24px;
	margin-top: 4px;
	background-color: #ffcc00;
	mask: url(https://d2conugba1evp1.cloudfront.net/icons/icon-bookmark.svg) no-repeat center / contain;
	-webkit-mask: url(https://d2conugba1evp1.cloudfront.net/icons/icon-bookmark.svg) no-repeat center / contain;
}

.bookmarkbtn-icon-toggled:hover {
	background-color: #ffda47;
}
