#cheatsheetCard{
    width:300px;
    height:278px;
    padding:0px;
    position:relative;
    margin:20px;
    top:0px;
    right:0px;
    background:#fff;
    display:flex;
    transition: .6s ease-out;
    box-shadow:  0 10px 10px rbga(0,0,0),0.5;   
}


#cheatsheetcard-title > #rating-container{
    position:relative;
    top:-10px;
}

.bookmarkbtn-container{
    position:relative;
    display:flex;
    z-index: 10;
    bottom:40px;
    left:270px;
}

/* #bookmarkbtn-icon{
    position:relative;
    display:flex;
    z-index: 10;
    bottom:40px;
    left:270px;
}

#bookmarkbtn-icon-toggled {
    position:relative;
    display:flex;
    z-index: 10;
    bottom:40px;
    left:270px;
} */
	
#cheatsheetcard-author{
    display:flex;
    position:relative;
    top:20px;
    right:150px;
}

.card{
    width:300px;
    height:278px
}

.card-img-top {
    width:298px;
    height:210.67px;
    position:relative;
    bottom:0px;
    left:0px;
    object-fit:cover;
    cursor: pointer;

}

#cheatsheet-name{
    display:flex;
    flex-grow:10;
}

#cheatsheetcard-title.card-header{
    width:300px;
    height:65px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
