.sheetCard {
	margin: 20px;
}

.sheetCard-bookmarkBtn {
	position: relative;
	display: flex;
	bottom: 40px;
	left: 270px;
}

.sheetCard-author {
	padding: 0rem;
}

.card {
	width: 300px;
	height: 278px;
}

.card-img-top {
	width: 298px;
	height: 210.67px;
	position: relative;
	object-fit: cover;
}

.sheetCard-header {
	display: flex;
	flex-direction: row;
	background-color: #eed971ff;
}

.sheetCard-header > .sheetCard-info {
	flex-grow: 1;
}

.sheetCard-header .sheetCard-name {
    font-size: large;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
