#searchbar {
    position: relative;
}

#searchbar-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25;
    left: 0;
    z-index: 10;
}

#searchbar-list button div {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 3px;
}

#searchbar-list button div img {
    margin-right: 10px;
}

#searchbar-list button div div {
    min-width: 0;
}

#searchbar-list button div div span {
    width: 350px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchbar-list .btn-light {
    border-radius: 0;
    border-bottom: 0.5px solid rgb(224, 224, 224);
}

#searchbar-list .btn-light:last-child {
    border-bottom: none;
}

#searchbar-list button.searchHover {
    background-color: #E2E6EA;
    border-color: #E2E6EA;
}