.gallery{
    display:flex;
    width: 100%;
    height:100%;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color:#FFBE7BFF;
}

#gallery-toolbar {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: space-between;
}

.gallery-tool-group > .gallery-tool-label {
    padding-right: 5px;
}

#gallery-toolbar > .gallery-tool-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

.gallery-tool-group > .gallery-tool-select {
    flex-grow: 1;
}

.dropdownMenu {
    display:flex;
    position:relative;
    top:0px;
    left:-100px;
}

.pageButtons{
    position:absolute;
    top:0px;
    right:0px;
}