.konvajs-content {
    background-color: #334444;
}

#canvas-btn-download {
    margin-top: 1rem;
}

#canvas-btn-upload {
    margin-top: 1rem;
    margin-left: 2rem;
}

#canvas-context-menu {
    display: none;
    position: absolute;
    width: 130px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-context-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-context-menu button:hover {
    background-color: lightgray;
}

#canvas-toolbar {
    display:flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #252525;
}

#canvas-btn-menu-import {
    background-color: #252525;
    border-radius: 0;
    border-color: #252525;
}

#canvas-btn-menu-import:hover {
    background-color: #4e4e4e;
}

#canvas-import-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-import-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-import-menu button:hover {
    background-color: lightgray;
}

#canvas-btn-menu-sort {
    background-color: #252525;
    border-radius: 0;
    border-color: #252525;
}

#canvas-btn-menu-sort:hover {
    background-color: #4e4e4e;
}

#canvas-sort-menu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-sort-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-sort-menu button:hover {
    background-color: lightgray;
}

#canvas-btn-menu-view {
    background-color: #252525;
    border-radius: 0;
    border-color: #252525;
}

#canvas-btn-menu-view:hover {
    background-color: #4e4e4e;
}

#canvas-view-menu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-view-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-view-menu button:hover {
    background-color: lightgray;
}

#canvas-stage-div {
    position: relative;
}

#canvas-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}