.konvajs-content {
    background-color: black;
    margin-top: 2.5rem;
}

#canvas-btn-download {
    margin-top: 1rem;
}

#canvas-btn-upload {
    margin-top: 1rem;
    margin-left: 2rem;
}

#canvas-context-menu {
    display: none;
    position: absolute;
    width: 130px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-context-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-context-menu button:hover {
    background-color: lightgray;
}

#canvas-import-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-import-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-import-menu button:hover {
    background-color: lightgray;
}

#canvas-sort-menu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#canvas-sort-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#canvas-sort-menu button:hover {
    background-color: lightgray;
}