.form-check {
    margin-left: 1rem;
}

#input-files {
    margin-left: 1rem;
}

#input-form {
    border: 0.075rem dashed black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#input-btn-arr {
    align-self: center;
}