.form-check {
    margin-left: 1rem;
}

#input-files {
    margin-left: 1rem;
    border: 0.05rem solid black;
}

#input-form {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}