.form-check {
    margin-left: 1rem;
}

#input-files {
    margin-left: 1rem;
}

#input-form {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#input-btn-arr {
    align-self: center;
}